* {
    margin:0px;
    padding: 0px;
}
body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.kk{
    color: bisque;
}
.kekw{
    color: rgba(51, 39, 223, 0.842);
}
.formatar{
    font-size: 1.3em;
}
